/* Fontsize */
.fs8 {
  font-size: 0.5rem;
}
.fs10 {
  font-size: 0.625rem;
}
.fs12 {
  font-size: 0.75rem;
}
.fs14 {
  font-size: 0.875rem;
}
.fs18 {
  font-size: 1.125rem;
}
.fs20 {
  font-size: 1.25rem;
}

/* 5 Columns */
.col-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
}
@media (min-width: 768px) {
  .col-sm-15 {
    width: 20%;
    flex: 0 0 20%;
  }
}
@media (min-width: 992px) {
  .col-md-15 {
    width: 20%;
    flex: 0 0 20%;
  }
}
@media (min-width: 1200px) {
  .col-lg-15 {
    width: 20%;
    flex: 0 0 20%;
  }
}

/* progressbar */
.progressbar {
  counter-reset: step;
}
.progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 2rem;
  height: 2rem;
  display: block;
  margin: 0 auto 0.5rem auto;
  border-radius: 50%;
  line-height: 2rem;
  background: #d0e1f9;
  color: #ffffff;
  text-align: center;
  font-size: 1rem;
}
.progressbar li:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background: #d0e1f9;
  top: 1rem;
  left: -50%;
  z-index: -1;
}
.progressbar li:first-child:after {
  content: none;
}
.progressbar li.active:before {
  background: #4d648d;
  color: white;
}
.progressbar li.active:after {
  background: #4d648d;
}

/* input */
.text-field {
  position: relative;
  width: 100%;
  background-color: #f5f5f5;
  border-bottom: 1px solid;
  border-radius: 4px 4px 0 0;
}
.text-field-label {
  position: absolute;
  left: 0.5rem;
  top: 0.5rem;
  font-size: 0.75rem;
  color: rgba(0, 0, 0, 0.6);
  line-height: 1.15rem;
}
.text-field-input {
  font-size: 1rem;
  width: 100%;
  padding: 2rem 0.5rem 0.5rem;
  border: none;
  background: none;
  height: 4rem;
}
.text-field.fill {
  background-color: #ffffff;
}
.fill .text-field-input {
  margin-bottom: 0;
}
input.text-field-input:disabled,
select.text-field-input:disabled {
  color: #212529;
	opacity: 1;
	appearance: none;
}

/* nav */
header nav {
  background: #859ad3;
}
header nav h1 a:hover {
  text-decoration: transparent;
  opacity: 0.6;
}
.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* top_menu */
.top_menu ul a {
  padding-top: 100%;
}
.top_menu ul a:hover {
  text-decoration: transparent;
  opacity: 0.6;
}
@media (max-width: 767px) {
  .top_menu ul a {
    padding-top: 4rem;
  }
}
.top_menu ul a span {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* vital_input */
.vital_input h3 {
  padding: 0.2rem 1rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  border-radius: 1.4rem;
  background: #dae8fc;
  color: #6c8ebf;
}
.vital_input section section > ul {
  padding: 0 1rem;
}
@media (max-width: 767px) {
  .vital_input section section ul ul {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: #6c757d 1px dashed;
  }
}
